.link-container {
  margin-top: 30rem;
  margin-bottom: 10rem;
}

.btn-link {
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 0;

  color: #867777;
  background: linear-gradient(to left, #fdf3f3, #f3c7c7);
  border: 1px solid #caafaf;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  animation: fadeIntext 3s both;

}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {

  color: #867777;

}



@media (min-width:400px) {

  .link-container {
    margin-top: 13rem;
    margin-bottom: 14rem;
  }
}

@media (min-width:700px) {

  .link-container {
    margin-top: 8rem;
    margin-bottom: 19rem;
    width: 350px;
  }
}

@media (min-width:1024px) {

  .link-container {
    margin-top: 5rem;
    margin-bottom: 19rem;
    width: 400px;

  }

}


@media (min-width:1200px) {
  .btn-link {
    padding: .7rem 0;
    font-size: 18px;
  }
}