.img-fundo {
    position: absolute;
    top: 5rem;
    opacity: .5;
    border-radius: 10rem
}

@media (min-width:400px) {

    .img-fundo {
        top: 3rem;
        width: 23rem;
    }
}

@media (min-width:1024px) {

    .img-fundo {
        top: 7rem;
    }
}